html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

/*Fin del reset*/

/******************************** Empieza el codigo CSS *********************************/
body{
    font-size: 62.5%;
}

h1{
    font: normal 2.4em Verdana, Geneva, sans-serif;
    background: -moz-linear-gradient(top, #00f, #0cf);
    background: -webkit-linear-gradient(top, #00f, #0cf);
    width: 40%;
    border-radius: 10px;
    margin: 15px auto;
    text-align: center;
    padding: 15px;
    color: #fff;
    box-shadow: #00f 5px 5px 10px;
    text-shadow: #fff 2px 2px 3px;
}

/******************************** Finaliza el codigo CSS ********************************/

