#idVideo{
    width: 720px;
    margin: 20px auto;
    background: #fc3;
    padding: 5px;
    border: 2px solid #f00;
    border-radius: 8px;
}

nav{
    margin: 5px 0;
}

#idBotones{
    float: left;
    width: 100px;
    height: 20px;
}

#idBarra{
    background: #fff;
    width: 600px;
    height: 16px;
    border: 1px solid #666;
    padding: 3px;
    margin-left: 80px;
}

#idProgreso{
    position: absolute;
    width: 0;
    height: 16px;
    background: rgba(0, 0, 150, 2);
}